@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

button {
    all: unset;
    cursor: revert;
    transition: all 0.2s;
}

:root {
    --clr-pr-blue: hsl(238, 100%, 50%);
    --clr-pr-blue-muted: hsl(238, 40%, 52%);
    --clr-pr-red: hsl(358, 79%, 66%);
    --clr-pr-blue-gr: hsl(239, 57%, 85%);
    --clr-pr-red-pl: hsl(357, 100%, 86%);

    --clr-ntrl-blue-drk: hsl(212, 24%, 26%);
    --clr-ntrl-blue-gr: hsl(211, 10%, 45%);
    --clr-ntrl-gray: hsl(223, 19%, 93%);
    --clr-ntrl-gray-xlt: hsl(228, 33%, 97%);
    --clr-ntrl-white: hsl(0, 0%, 100%);
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--clr-ntrl-gray-xlt);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 15vw;
    gap: 1.5rem;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment {
    background-color: var(--clr-ntrl-white);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 100px 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.likes {
    grid-area: 1/1/3/2;
    background-color: var(--clr-ntrl-gray-xlt);
    display: flex;
    flex-direction: column;
    max-width: 50px;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--clr-pr-blue-muted);
    font-weight: 500;
}

.plus,
.minus {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

.plus:hover,
.minus:hover {
    filter: brightness(0) saturate(100%) invert(34%) sepia(14%) saturate(2464%) hue-rotate(200deg) brightness(102%) contrast(92%);
}

.already-voted,
.already-voted:hover {
    cursor: default;
    filter: brightness(0) saturate(100%) invert(34%) sepia(14%) saturate(2464%) hue-rotate(200deg) brightness(102%) contrast(92%);
}

.name-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: center;
}

.name-row img {
    width: 40px;
    height: 40px;
}

.name {
    font-weight: 500;
    color: var(--clr-ntrl-blue-drk);
}

.you {
    background-color: var(--clr-pr-blue-muted);
    color: var(--clr-ntrl-gray-xlt);
    font-weight: 500;
    padding: 0em 0.5em;
    border-radius: 0.125em;
}

.time {
    color: var(--clr-ntrl-blue-gr);
}

.content {
    color: var(--clr-ntrl-blue-gr);
    grid-area: 2/2/3/4;
    align-self: flex-end;
}

.at {
    font-weight: 500;
    color: var(--clr-pr-blue-muted);
}

.actions-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 500;
}

.reply,
.edit {
    color: var(--clr-pr-blue-muted);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reply:hover,
.edit:hover {
    opacity: 0.5;
}

.delete {
    color: var(--clr-pr-red);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.delete:hover {
    opacity: 0.5;
}

.responses-wrapper {
    display: flex;
}

.responses-line-container {
    display: flex;
    padding: 2rem 0rem;
}

.responses-line {
    width: 3px;
    background-color: var(--clr-ntrl-gray);
    margin: 0rem 3rem;
    padding: 1rem 0rem;
}

.responses {
    width: 100%;
}

.add-comment-wrapper {
    background-color: var(--clr-ntrl-white);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.add-comment-wrapper img {
    height: 40px;
}

textarea {
    width: 100%;
    border-color: var(--clr-ntrl-gray);
    border-radius: 0.25rem;
    padding: 1rem;
    resize: none;
}

.send {
    background-color: var(--clr-pr-blue-muted);
    color: var(--clr-ntrl-gray-xlt);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.send:hover {
    background-color: var(--clr-pr-blue-gr);
}

textarea:active,
textarea:focus {
    outline: 1px solid var(--clr-ntrl-blue-drk);
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--clr-ntrl-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 410px;
}

.modal-title {
    font-weight: 500;
    font-size: 30px;
    color: var(--clr-ntrl-blue-drk);
}

.modal-text {
    color: var(--clr-ntrl-blue-gr);
}

.modal-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.modal-cancel,
.modal-delete {
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-weight: 500;
    color: var(--clr-ntrl-white);
    cursor: pointer;
}

.modal-cancel:hover,
.modal-delete:hover {
    opacity: 0.5;
}

.modal-cancel {
    background-color: var(--clr-ntrl-blue-gr);
}

.modal-delete {
    background-color: var(--clr-pr-red);
}
